<div class="col-md-4 border border-light rounded">
  <div class="card-header align-items-center border border-light bg-info bg-gradient text-white rounded">
    <h2 class="fw-bold">Member</h2>
  </div>
  <div class="list-group list-group-light overflow-auto" data-mdb-perfect-scrollbar="true" style="height: 550px;">
    <% if (locals.users) { %> 
      <%  users.forEach(user => { %>
        <%if (user.id !== auth.user.id) { %>
        <a href="/message/001" class="d-flex flex-row list-group-item list-group-item-action align-items-center border border-light user-<%= user.id %>">
          <div class="d-inline-flex position-relative me-2">
            <img class="rounded-circle" src="<%= user.image %>" alt="avatar 3" style="width: 40px; height: 40px;">
            <span class="position-absolute bottom-0 end-0 p-1 bg-danger bg-gradient border border-light rounded-circle status-icon-<%= user.id %>"></span>
          </div>
          <div class="d-flex flex-column">
            <span class="fw-bold"><%= user.name %></span>
            <span class="status-<%= user.id %>">Offline</span>
          </div>
        </a>
        <% }
      })
    } %>
  </div>
</div>

